.Tcards hr {
    border: none;
    height: 1px;
    background: gainsboro;
}

.Allcards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: hidden;
    gap: 20px;
    background-color: #131313;

}
.leftAllProd{
    background-color: #202021;
}

.Tcards {
    width: 100%;
    border: 2px solid rgb(98, 94, 94);
    border-radius: 2px;
}

.Tcards .Tcont {
    margin: 30px;
}

.Tcont .Rating {
    margin: 20px 10px;
}

.Tcont button {
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    font-size: larger;
    background-color: red;
}

.Tcont h1 {
    color: rgb(186, 182, 182);
}

.Tcont h3 {
    color: rgb(101, 98, 98);
}

.Tcards img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    display: block;
    background-color: #161819;
    object-position: center;
}

.Tcards .price {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.price .new {
    font-size: 30px;
    font-weight: 700;
    color: rgb(172, 167, 167)
}

.price .old {
    font-size: 22px;
    font-weight: 700;
}
.Tcards hr {
  border: none;
  height: 1px;
  background: gainsboro;
}

.Allcards {
  background-color: #161819;
  padding: 170px 0 95px;
  /* instead of margins */
}
.Allcards .btn-filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px;

}

.allProductsSection{
    display: flex;
    gap: 25px;
    background-color: #161819;
}
.leftAllProd{
    overflow-y: scroll;
    height: 500px;
    width: 530px;
}
.filterBox {
  max-height: 80vh;       
  overflow-y: auto;
}
.filterBox::-webkit-scrollbar {
  width: 6px;
}

.filterBox::-webkit-scrollbar-track {
  background: transparent; 
}

.filterBox::-webkit-scrollbar-thumb {
  background-color: rgba(13, 13, 13, 0.35);
  border-radius: 10px;
}

.filterBox::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, 0.6);
}
.filterBox {
  scrollbar-width: thin;
  scrollbar-color: rgba(180,180,180,0.35) transparent;
}
.sortby h3{
    color: rgb(201, 198, 198);

}
.sortby h5{
    color: rgb(121, 116, 116);
}
.filterTitle{
    color: rgb(201, 198, 198);
}
.section h3{
    color: rgb(121, 116, 116);
}
.section .option{
    background-color: #202021;
    color: rgb(121, 116, 116);
}
.price{
    color: rgb(121, 116, 116);
}

.leftAllProd .sortcards{
    padding: 7px;
}
.allProductsSection .line {
  width: 100%;
  height: 1px;
  background-color: #959597;
  border: none;
  margin: 0px;
}
.sortby{
    margin-bottom: 20px;
}
.sortby h3{
    margin-bottom: 0px;
}

