* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    background-color: #161819;
}
.Fcards img {
    width: 300px;
    height: 300px;
    margin: 20px;
    transition: transform 0.5s ease;
}

.Fcards {
    display: flex;
    flex-direction: column;
    margin: 90px;
    align-items: center;
    justify-content: center;
}


.Fcards .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

.Fcards h3,
.price .old {
    color: #626570;
}

.Fcards h1,
.price .new {
    color: #A9AFC3;
}

.price .old {
    text-decoration: line-through;
}

.Fcards h3 {
    margin-bottom: 50px;
    margin-top: 45px;
}

.Fcards h1 {
    margin-bottom: 70px;
    margin-top: 90px;
}

.Fcards .new {
    font-size: 25px;
    font-weight: 600;
}

.main h1 {
    text-align: center;
    color: #A9AFC3;
    margin-top: 0px;
}

.swiper-slide{
    transform: scale(0.5);
    opacity: 0.5;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide-active img{
    transform: scale(1.25);
    opacity: 100%;
    z-index: 10;
}


.swiper-slide-prev img,
.swiper-slide-next img {
    transform: scale(0.4);
    opacity: 0.4;
    z-index: 5;
}


