*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #141414;
}
.Fcards img{
    width: 300px;
    height: 300px;
    margin: 20px;
}
.Fcards{
    display: flex;
    flex-direction: column;
    margin:90px;
    align-items: center;
    justify-content: center;
}
.Fcards .price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}
.Fcards h3,.price .old{
    color: #626570;
}
.Fcards h1,.price .new{
    color: #A9AFC3;
}
.price .old{
    text-decoration: line-through;
}
.Fcards h3{
   margin: 90px;
}
.Fcards h1{
    margin-bottom: 90px;
    margin-top: 90px;
}