.footerContainer {
    background-color: black;
    color: rgb(182, 181, 181);
}

.footerContainer .bottomCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: rgb(182, 181, 181);
}

.footerContainer hr {
    height: 3px;
    background-color: gray;
    width: auto;
}

.bottomCont .rightBottomCont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 30px;
}

.rightBottomCont .iconbox {
    font-size: 30px;
}

.LeftBottomCont {
    font-size: 23px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.footerContainer .footerDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footerDisplay .rightCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footerDisplay .leftCont{
    margin: 20px 20px;
}
.footerDisplay .leftCont button{
   margin: 15px 0px;
   font-size: 25px;
   background-color: red;
   color: white;
   font-family: sans-serif;
   padding:5px 20px;
}
.leftCont input{
    width: 350px;
    padding: 9px 7px;
    font-size: 20px;
    background-color: black;
    border: 1px solid  rgb(182, 181, 181);
    color: white;
}
.rightCont .Ftitle .FTopTitle{
    color: white;
    margin-bottom: 45px;
}
.rightCont .Ftitle{
    margin-top: 35px;
}
.rightCont .Fcont{
    padding: 10px 0px;
    font-size: medium;
}
.scrollTopBtn{
    background-color: red;
    font-size: 30px;
    color: white;
    padding: 5px 13px;
    border-radius: 3px;
}
.bottomCont{
    padding: 20px 15px;
}

@media (max-width: 992px) {

  .footerContainer .footerDisplay {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footerDisplay .rightCont {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .leftCont input {
    width: 100%;
    font-size: 18px;
  }

  .footerDisplay .leftCont button {
    font-size: 20px;
  }

  .bottomCont {
    padding: 15px;
  }

  .bottomCont .rightBottomCont {
    gap: 20px;
  }

  .LeftBottomCont {
    font-size: 18px;
  }
}

@media (max-width: 576px) {

  .footerContainer .footerDisplay {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footerDisplay .rightCont {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footerDisplay .leftCont {
    margin: 10px;
    text-align: center;
  }

  .leftCont input {
    width: 100%;
    font-size: 16px;
  }

  .footerDisplay .leftCont button {
    font-size: 18px;
    width: 100%;
  }

  .rightCont .Ftitle .FTopTitle {
    margin-bottom: 20px;
  }

  .bottomCont {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .bottomCont .rightBottomCont {
    margin-right: 0;
    gap: 15px;
  }

  .LeftBottomCont {
    font-size: 16px;
  }

  .scrollTopBtn {
    font-size: 22px;
    padding: 4px 10px;
  }
}
