* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.slider {
    background-color: #141414;
    min-height: 100vh;
    overflow: hidden;
}

.cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px;
    z-index: 10;
    color: #A5ABBE;
    min-height: 100vh;
}

.backtext h1 {
    text-align: center;
    position: absolute;
    z-index: 0;
    opacity: 30%;
    font-size: 300px;
    left: 10%;
}

.cards .rightData img{
    height: auto;
    width: 500px;
}

.cards .leftData h1{
    font-weight: 600;
}
 .cards .leftData{
    margin:20px;
 }
 .cards .leftData .value{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    font-size: large;
    font-weight: 700;
 }
 .leftData .value .old p{
    text-decoration: line-through;
    color: #5C646B;
 }
 .cards .leftData button{
    background-color: red;
 }