* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.slider {
    background-color:  #161819;
    height: 120vh;
    overflow: hidden;
}

.cards {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 10px;
    z-index: 10;
    color: #A5ABBE;
    height: 110vh;
}

.backtext h1 {
    text-align: center;
    position: absolute;
    z-index: 0;
    opacity: 30%;
    font-size: 300px;
    left: 10%;
}

.cards .rightData img{
    height: auto;
    width: 500px;
}

.cards .leftData h1{
    font-weight: 600;
}
 .cards .leftData{
    margin-right:80px;
 }
 .cards .leftData .value{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    font-size: large;
    font-weight: 700;
 }
 .leftData .value .old p{
    text-decoration: line-through;
    color: #5C646B;
 }
 .cards .leftData button{
    background-color: red;
 }

 /* ========================= */
/* Medium Devices (Tablets) */
/* ========================= */
@media (max-width: 992px) {
    .cards {
        margin: 0 20px;
        gap: 30px;
    }

    .backtext h1 {
        font-size: 200px;
        left: 5%;
    }

    .cards .rightData img {
        width: 380px;
    }

    .cards .leftData h1 {
        font-size: 32px;
    }

    .cards .leftData h3 {
        font-size: 18px;
    }

    .cards .leftData .value {
        font-size: 16px;
        gap: 15px;
    }
}

/* ========================= */
/* Small Devices (Mobiles)  */
/* ========================= */
@media (max-width: 576px) {
    .slider {
        height: 80vh;
        padding: 40px 0;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: auto;
        gap: 25px;
    }

    .backtext h1 {
        font-size: 120px;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
    }

    .cards .leftData {
        margin: 10px;
    }

    .cards .leftData h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    .cards .leftData h3 {
        font-size: 16px;
    }

    .cards .leftData .value {
        justify-content: center;
        font-size: 15px;
    }

    .cards .rightData img {
        width: 100%;
        max-width: 320px;
    }

    .cards .leftData button {
        padding: 10px 20px;
        font-size: 15px;
    }
}

.slider .swiper-pagination-bullet {
    background-color: #5C646B !important;
    opacity: 1;
}

.slider .swiper-pagination-bullet-active {
    background-color: #ED1D24 !important;
}

