.Tcards hr {
  border: none;
  height: 1px;
  background: gainsboro;
}

.Topcontainer {
  background-color: #161819;
  padding: 170px 0 95px;
  /* instead of margins */
}

.Topmain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: hidden;
  gap: 20px;
  background-color: #161819;

}

.Tcards {
  width: 100%;
  border: 2px solid rgb(98, 94, 94);
  border-radius: 2px;
}

.Tcards .Tcont {
  margin: 30px;
}

.Tcont .Rating {
  margin: 20px 10px;
}

.Tcont button {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  font-size: larger;
  background-color: red;
}

.Tcont h1 {
  color: rgb(186, 182, 182);
}

.Tcont h3 {
  color: rgb(101, 98, 98);
}

.Tcards img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  display: block;
  background-color: #161819;
  object-position: center;
}

.Tcards .price {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.price .new {
  font-size: 30px;
  font-weight: 700;
}

.price .old {
  font-size: 22px;
  font-weight: 700;
}

.Topmain .browse {
  width: auto;
  height: 700px;
  border: 2px solid rgb(98, 94, 94);
  position: relative;
}

.browse h2 {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 45px;
  color: rgb(192, 185, 185);
}

.browse .arrow {
  font-size: 75px;
}

.Topcontainer .btn-filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px;

}

.btn-filter .filterClick button {
  padding: 5px 15px;
  border: none;
  color: white;
  border-radius: 3px;
  background-color: #161819;
}

.filterClick button:hover {
  background-color: red;
}

.Topcontainer .Toptitle {
  color: white;
  text-align: center;
  margin: 0px;
}

.btn-filter button.active {
  background-color: red;
  font-weight: 600;
}

@media (max-width: 1024px) {

  /* Products grid */
  .Topmain {
    grid-template-columns: repeat(2, 1fr);
  }

  .Topcontainer .btn-filter {
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px;
  }

  .browse h2 {
    font-size: 32px;
    left: 10%;
  }

  .browse .arrow {
    font-size: 55px;
  }

  /* Advantages */
  .advantagesBox .servicesWrapper {
    flex-wrap: wrap;
    gap: 40px;
  }

  .servicesWrapper .services {
    width: 45%;
  }
}

@media (max-width: 768px) {

  /* Title spacing */
  .Topcontainer .Toptitle {
    margin: 60px 20px;
    margin-top: 120px;
  }

  /* Filter buttons */
  .Topcontainer .btn-filter {
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 20px;
  }

  .btn-filter .filterClick button {
    font-size: 14px;
    padding: 6px 12px;
  }

  /* Product cards */
  .Topmain {
    grid-template-columns: 1fr;
  }

  .Tcards img {
    height: 180px;
  }

  .Tcont h1 {
    font-size: 18px;
  }

  .Tcont h3 {
    font-size: 14px;
  }

  .price .new {
    font-size: 22px;
  }

  .price .old {
    font-size: 16px;
  }

  /* Browse card */
  .browse h2 {
    font-size: 24px;
    left: 8%;
    top: 35%;
  }

  .browse .arrow {
    font-size: 40px;
  }

  /* Advantages */
  .advantagesBox .AdTitle {
    margin: 120px 20px 80px;
  }

  .advantagesBox .servicesWrapper {
    flex-direction: column;
    gap: 40px;
  }

  .servicesWrapper .services {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .services .ico {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {

  .browse h2 {
    font-size: 20px;
  }

  .browse .arrow {
    font-size: 30px;
  }

  .SerCont h2 {
    font-size: 22px;
  }

  .SerCont h3 {
    font-size: 16px;
  }
}

.Tcont button .successCart {
  width: 100%;
  padding: 0px;
  font-size: larger;
  background-color: green;
  margin-bottom: 0px;
}